
/* Styling for the Landing page */

.color-nav {
    background-color: #AAD2A9;
    border-radius: 5px;
}
.jumbotron {
    color: #6A6A6A;
    margin-top: 35px;
    border: none;
}

.logo {
    width: 60px;
    height: 60px;
}

.card {
    margin: 0 5px 5px;
}

.card-img-top {
    padding: 5px;
    border: 10px solid #AAD2A9;
}

.mr-auto {
  color: #FFFFFF;
  ;
}

.display-5 {
  text-align: center;
  color: #6A6A6A;
}
.card-group {
  border: 20px solid #AADAFF;
  padding: 10px;
  color: #6A6A6A;
  border-radius: 5px;
}
.footer {
  text-align: center;
}

.mr-auto * {
  color: #FFFFFF;

}
<<<<<<< HEAD

/* test commit */
=======
.navbar-toggler {
  color: #FFFFFF;
}


>>>>>>> 6923a9560fc068a6f46c620812c4f7dd090aaab5
