.wrapper {
    margin-top: 50px; 
    border: 20px solid #AAD2A9; 
    border-radius: 10px; 
    padding: 20px;
}

.content {
    text-align: center; 
    padding: 20px; 
    border-radius: 10px;
}

.display-4 {
    color: #6A6A6A;
    
}

.submit-btn {
    background-color: #AAD2A9;
    font-weight: bolder;
    font-size: larger;
    border: none;
    width: 150px;
}