/* - - - - - - - - - - - - - CONTACT US PAGE STYLES - - - - - - - - - - - - - */

/* Container */

.message-box {
    margin-top: 50px;
    border: 20px solid #AAD2A9;
    border-radius: 10px;
    padding: 20px 20px;
    /* option to make navbar go over content */
    /* top: 75px;
    right: 5%;
    left: 5%;
    width: 90%;
    position: absolute; */
}

/* form container */

.message-form-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* form label */

.message-form-label {
    color: #6A6A6A !important;
    margin-bottom: 20px;
}

/* send button */

.send-btn {
    background-color: #AADAFF !important;
    font-weight: bolder;
    border: none !important;
    width: 150px !important;
}

/* name, email anddress and message inputs */

.message-form-input {
    color: #6A6A6A !important;
}

/* input icons */

.message-form-icon {
    color: #6A6A6A !important;
}