/* - - - - - - - - - - - - - LANDING PAGE STYLES - - - - - - - - - - - - - */

/* Jumbotrton containing header and text */

.landing-jumbo {
    color: #6A6A6A;
    margin-top: 35px;
    border: none;
}

/* landing page card group containing 3 cards */

.landing-card-group {
    border: 20px solid #AADAFF;
    padding: 10px;
    color: #6A6A6A;
    border-radius: 5px;
}

/* individual cards */

.landing-card {
    margin: 0 5px 5px;
}

/* card images */

.landing-card-img-top {
    padding: 5px;
    border: 10px solid #AAD2A9;
}