/* - - - - - - - - - - - - - LOGIN PAGE STYLES - - - - - - - - - - - - - */

/* login page container */

.login-box {
    margin-top: 50px;
    border: 20px solid #AAD2A9;
    border-radius: 10px;
    padding: 20px;
}

/* login form container */

.login-form-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* login form label / title */

.login-form-label {
    color: #6A6A6A !important;
    margin-bottom: 20px;
}

/* login btn */

.login-btn {
    background-color: #AADAFF !important;
    font-weight: bolder;
    border: none !important;
    width: 150px !important;
}

/* username and password inputs */

.login-form-input {
    color: #6A6A6A !important;
}

/* input icons */

.login-form-icon {
    color: #6A6A6A !important;
}