.login-box {
    margin-top: 50px;
    border: 20px solid #AAD2A9;
    border-radius: 10px;
    padding: 20px;
}
.login-form-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.login-form-label {
    color: #6A6A6A !important;
}
.login-logout-btn{
    background-color: #AAD2A9 !important;
    font-weight: bolder;
    border: none !important;
    width: 150px !important;
}
.login-form-input {
    color: #6A6A6A !important;
}
.login-form-icon {
    color: #6A6A6A !important;
}