.mapContainer {
    position: absolute !important;
    top: 100px;
    bottom: 0;
    width: 81.5%;
}
#map {
    margin-top: 5vh; 
    margin-bottom: 5vh; 
    height: 80vh; border: 
    20px solid #AAD2A9; 
    border-radius: 10px;
    padding: 20px;
}
