.reset-box {
    margin-top: 50px;
    border: 20px solid #AAD2A9;
    border-radius: 10px;
    padding: 20px;
}
.reset-form-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.reset-form-label {
    color: #6A6A6A !important;
    margin-bottom: 20px;
}
.reset-btn{
    background-color: #AADAFF !important;
    font-weight: bolder;
    border: none !important;
    width: 150px !important;
}
.reset-form-input {
    color: #6A6A6A !important;
}
.reset-form-icon {
    color: #6A6A6A !important;
}

