/* - - - - - - - - - - - - - RESET PASSWORD PAGE STYLES - - - - - - - - - - - - - */

/* container */

.reset-box {
    margin-top: 50px;
    border: 20px solid #AAD2A9;
    border-radius: 10px;
    padding: 20px;
}

/* reset password form container */

.reset-form-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* form label / title */

.reset-form-label {
    color: #6A6A6A !important;
    margin-bottom: 20px;
}

/* reset button */

.reset-btn {
    background-color: #AADAFF !important;
    font-weight: bolder;
    border: none !important;
    width: 150px !important;
}

/* username and pnew password inputs */

.reset-form-input {
    color: #6A6A6A !important;
}

/* input icons */

.reset-form-icon {
    color: #6A6A6A !important;
}