.signup-box {
    margin-top: 50px;
    border: 20px solid #AAD2A9; 
    border-radius: 10px;
    padding: 20px;
}
.signup-form-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.signup-form-label {
    color: #6A6A6A;
}
.signup-btn {
    background-color: #AAD2A9 !important;
    font-weight: bolder;
    border: none !important;
    width: 150px !important;
}
.employee-checkbox {
    color: #6A6A6A !important;
    font-weight: bolder;
}
.signup-input {
    color: #6A6A6A !important;
}
.signup-form-icons {
    color: #6A6A6A;
}