/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /* Sticky footer */

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .footer {
    margin: 20px;
    text-align: center;
  }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /* Easter Egg Gifs and Animations */
  #covid, #roll {
    z-index: 999;
    position: fixed;
    width: 20vw;
    height: 20vw;
    min-width: 120px;
    min-height: 120px;
    animation-play-state: paused;
  }
  #covid {
    animation-name: covid;
    animation-duration: 4s;
    animation-iteration-count: 2;
  }
  @keyframes covid {
    0% {left: 40vw; bottom: -45vh}
    20% {left: 60vw; bottom: 0vh}
    40% {left: 20vw; bottom: 25vh}
    60% {left: 60vw; bottom: 50vh}
    80% {left: 20vw; bottom: 75vh}    
    100% {left: 60vw; bottom: 100vh};
  }
  #roll {
    animation-name: roll;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  @keyframes roll {
    from {right: -20vw; top: -20vh}
    to {right: 120vw; top: 120vh}
  }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - */